{% extends 'base.html' %}


{% block titulo %}
    Registrar Empleado
{% endblock titulo %}


{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Registrar Empleado</h1>
            <form class="cell grid-x grid-margin-x" method="POST">
                {% csrf_token %}
                <div class="cell large-6">
                    <label>Nombres:
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Apellidos:
                        {{ form.last_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Trabajo:
                        {{ form.job }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Departamento:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell large-12">
                    <label>Habilidades extra:
                        {{ form.habilidades }}
                    </label>
                </div>
                <div class="cell large-12">
                    <button type="submit" class="success button">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
