{% extends 'base.html' %}

{% block titulo %}
    Lista Departamentos
{% endblock titulo %}

{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista Departamentos</h1>
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="200">ID</th>
                            <th width="150">NOMBRES</th>
                            <th width="150">SHORT NAME</th>
                            <th width="150">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in departamentos %}
                            <tr>
                                <td>{{d.id}}</td>
                                <td>{{d.name}}</td>
                                <td>{{d.short_name}}</td>
                                <td><a class="button warning" href="{% url 'persona_app:empleados_area' d.short_name %}">Ver Empleados</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
    