{% extends 'base.html' %}

{% block titulo %}
    Registrar Departamento
{% endblock titulo %}

{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="gird-x">
            <h1 class="cell">Registrar nuevo Departamento</h1>
            <form class="cell callout grid-x grid-margin-x" method="POST">
                {% csrf_token %}
                <div class="cell large-6">
                    <label>Nombres:
                        {{ form.nombre }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Apellidos:
                        {{ form.apellidos }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Departamento:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Short name:
                        {{ form.shortname }}
                    </label>
                </div>
                <div class="cell large-12">
                    <button type="submit" class="success button">Guardar</button>
                </div>
            </form>
        </div>
    </div>        
{% endblock content %}
    